.head {
  background: linear-gradient(90deg, #003366, #006699);
  padding: 20px; /* Padding around the section */
}

  
  .container {
    display: flex; /* Flexbox for layout */
    justify-content: space-between; /* Space between logo and social icons */
    align-items: center; /* Align items vertically centered */
    max-width: 100%; /* Maximum width for the container */
    margin: 0 auto; /* Center the container */
  }
  
  .logo {
    display: flex; /* Flexbox for logo items */
    align-items: center; /* Center logo items vertically */
  }
  
  .logo h1 {
    margin: 0; /* Remove default margin */
    font-size: 2rem; /* Font size for the title */
    color: var(--textColor); /* You can set a CSS variable or specific color */
  }
  
  .logo span {
    font-size: 1.2rem; /* Font size for the subtitle */
    color: var(--greyText); /* You can set a CSS variable or specific color */
    margin-left: 10px; /* Space between title and subtitle */
  }
  
  .social {
    display: flex; /* Flexbox for social icons */
  }
  
  .icon {
    font-size: 1.5rem; /* Font size for icons */
    margin-left: 15px; /* Space between icons */
    color: var(--primaryColor); /* You can set a CSS variable or specific color */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .icon:hover {
    color: var(--SecondaryColor); /* Change color on hover */
  }
  